body {
    /* background-image: url('/imgs/samuel-zeller-722382-unsplash.jpg'); */
    background: black;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 25px;
}


header {
    margin: auto;
    padding: 10px;

}

.workflow {
    margin: auto;
    padding: 10px;
    /* border-top: solid 5px grey; */
}

.connect {
    margin: auto;
    padding: 10px;
    /* border-top: solid 5px grey; */
}

hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(190, 30, 24);
    opacity: 0.5;
}

.logoLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media screen and (max-width: 576px) {
    .logoLinks {
        flex-direction: column; 
    }
}

.logo {
    width: 200px;
    height: auto;
    margin: auto;
    padding: 10px;
}

.logo, p {
    text-align: center;
}

/* .linkedin {
    margin: auto;
    padding: 10px;
} */

ul {
    list-style-type: none;
}

h1, h2, p{
    text-transform: capitalize;
    text-align: center;
    color: white;
    text-decoration: none;
}

